{% extends 'base.html.twig' %}


{% block content %}
    <h1 class="ui dividing header">Employee</h1>
    <a href="{{ path('employee_hire') }}" class="ui primary button">
        New employee
    </a>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Salary Scale</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.salaryScale }}</td>
            <td>
                <a href="{{ path('employee_promote', {'employeeId': employee.id }) }}" class="ui button">Promote</a>
                <a href="{{ path('employee_fire', {'employeeId': employee.id }) }}" class="ui red button">Fire</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ pagerfanta(employees, 'semantic_ui_translated', { 'omitFirstPage': true }) }}
{% endblock %}